body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../订单详情_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:32px;
    top:11px;
    width:953px;
    height:859px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:953px;
    height:859px;
}

.u1 {
    position:absolute;
    left:2px;
    top:422px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:269px;
    top:97px;
    width:150px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../订单详情_files/Rectangle_Raunded_u3_normal.png');
}

.u3_container {
    position:absolute;
    left:78px;
    top:245px;
    width:842px;
    height:680px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:848px;
    height:686px;
}

.u4 {
    position:absolute;
    left:2px;
    top:332px;
    width:838px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:92px;
    top:276px;
    width:652px;
    height:224px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../订单详情_files/Rectangle_Raunded_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:120px;
    top:510px;
    width:624px;
    height:150px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:630px;
    height:156px;
}

.u7 {
    position:absolute;
    left:2px;
    top:67px;
    width:620px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../订单详情_files/Rectangle_Raunded_u8_normal.png');
}

.u8_container {
    position:absolute;
    left:120px;
    top:510px;
    width:624px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:630px;
    height:39px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:620px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../订单详情_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:137px;
    top:553px;
    width:80px;
    height:79px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:79px;
}

.u11 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:227px;
    top:559px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:437px;
    top:585px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:554px;
    top:585px;
    width:99px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:514px;
    top:585px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:645px;
    top:569px;
    width:51px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../订单详情_files/Rectangle_Raunded_u6_normal.png');
}

.u17_container {
    position:absolute;
    left:120px;
    top:670px;
    width:624px;
    height:150px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:630px;
    height:156px;
}

.u18 {
    position:absolute;
    left:2px;
    top:67px;
    width:620px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../订单详情_files/Rectangle_Raunded_u8_normal.png');
}

.u19_container {
    position:absolute;
    left:120px;
    top:670px;
    width:624px;
    height:33px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:630px;
    height:39px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:620px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:227px;
    top:719px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:437px;
    top:745px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:554px;
    top:745px;
    width:99px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:514px;
    top:745px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:645px;
    top:729px;
    width:51px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../订单详情_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:137px;
    top:713px;
    width:80px;
    height:80px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:80px;
    height:80px;
}

.u27 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:120px;
    top:854px;
    width:378px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

