body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1416px;
    height:799px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1416px;
    height:799px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:1412px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:240px;
    top:69px;
    width:150px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_container {
    position:absolute;
    left:93px;
    top:186px;
    width:1185px;
    height:431px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1185px;
    height:431px;
}

.u4 {
    position:absolute;
    left:2px;
    top:208px;
    width:1181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:132px;
    top:200px;
    width:1125px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:132px;
    top:316px;
    width:1125px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:1078px;
    top:10px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:565px;
    top:350px;
    width:177px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

