* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/u0_normal.png");
}

* html .u7_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/Button_u7_mouseOver.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/Button_u7_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/u9_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/u13_normal.png");
}

* html .u21_mouseOver {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/u21_mouseOver.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="后台管理页面_files/u21_normal.png");
}

