body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../库存管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-41px;
    top:28px;
    width:953px;
    height:941px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:953px;
    height:941px;
}

.u1 {
    position:absolute;
    left:2px;
    top:462px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:249px;
    top:90px;
    width:191px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:691px;
    top:123px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:793px;
    top:123px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_menu {
    background-image: url('../库存管理_files/menu_u5_menu.png');
}

.u5_menu {
    position:absolute;
    left:403px;
    top:157px;
    width:488px;
    height:49px;
}

#u5_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:485px;
    height:46px;
}

#u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:484px;
    height:45px
}

.u7_mouseOver {
    background-image: url('../库存管理_files/u7_mouseOver.png');
}

.u7_selected {
    background-image: url('../库存管理_files/u7_selected.png');
}

.u7_normal {
    background-image: url('../库存管理_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../库存管理_files/u9_mouseOver.png');
}

.u9_selected {
    background-image: url('../库存管理_files/u9_selected.png');
}

.u9_normal {
    background-image: url('../库存管理_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:104px;
    top:0px;
    width:117px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:113px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../库存管理_files/u11_mouseOver.png');
}

.u11_selected {
    background-image: url('../库存管理_files/u11_selected.png');
}

.u11_normal {
    background-image: url('../库存管理_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:221px;
    top:0px;
    width:114px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../库存管理_files/u13_mouseOver.png');
}

.u13_selected {
    background-image: url('../库存管理_files/u13_selected.png');
}

.u13_normal {
    background-image: url('../库存管理_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:335px;
    top:0px;
    width:144px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../库存管理_files/Rectangle_Raunded_u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:268px;
    width:831px;
    height:747px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:837px;
    height:753px;
}

.u16 {
    position:absolute;
    left:2px;
    top:366px;
    width:827px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:27px;
    top:285px;
    width:789px;
    height:716px;
    overflow:hidden;
}

#pd3u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:716px;
    
}

.u18_normal {
    background-image: url('../库存管理_files/Tab_Option_2_u18_normal.png');
}

.u18_container {
    position:absolute;
    left:1px;
    top:5px;
    width:180px;
    height:40px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../库存管理_files/Tab_Option_3_u20_normal.png');
}

.u20_container {
    position:absolute;
    left:181px;
    top:5px;
    width:180px;
    height:40px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u21 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../库存管理_files/Tab_Option_4_u22_normal.png');
}

.u22_container {
    position:absolute;
    left:360px;
    top:5px;
    width:180px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../库存管理_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:719px;
    height:3px;
}

.u24 {
    position:absolute;
    left:1px;
    top:40px;
    width:719px;
    height:10px;
    
}

.u25_normal {
    background-image: url('../库存管理_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:45px;
    width:720px;
    height:667px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:673px;
}

.u26 {
    position:absolute;
    left:2px;
    top:326px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../库存管理_files/Selected_Tab_u27_normal.png');
}

.u27_container {
    position:absolute;
    left:540px;
    top:1px;
    width:180px;
    height:44px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../库存管理_files/u29_mouseOver.png');
}

.u29_normal {
    background-image: url('../库存管理_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:230px;
    top:70px;
    width:93px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:99px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../库存管理_files/Rectangle_u31_normal.png');
}

.u31_container {
    position:absolute;
    left:20px;
    top:70px;
    width:200px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:25px;
    top:73px;
    width:190px;
    height:24px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u33_text_sketch {
    font-family: '应用字体';
}

#u34 {
    position:absolute;
    left:9px;
    top:133px;
    width:696px;
    height:273px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:696px;
    height:273px;
    
}

#u35 {
    position:absolute;
    left:14px;
    top:89px;
    width:659px;
    height:166px
}

.u36_normal {
    background-image: url('../库存管理_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../库存管理_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:190px;
    top:0px;
    width:169px;
    height:30px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../库存管理_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:359px;
    top:0px;
    width:295px;
    height:30px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:36px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../库存管理_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:30px;
    width:190px;
    height:30px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../库存管理_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:190px;
    top:30px;
    width:169px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../库存管理_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:359px;
    top:30px;
    width:295px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../库存管理_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:60px;
    width:190px;
    height:30px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../库存管理_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:190px;
    top:60px;
    width:169px;
    height:30px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../库存管理_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:359px;
    top:60px;
    width:295px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../库存管理_files/u42_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:90px;
    width:190px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:36px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../库存管理_files/u44_normal.png');
}

.u56_container {
    position:absolute;
    left:190px;
    top:90px;
    width:169px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../库存管理_files/u46_normal.png');
}

.u58_container {
    position:absolute;
    left:359px;
    top:90px;
    width:295px;
    height:30px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:36px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../库存管理_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:120px;
    width:190px;
    height:41px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:47px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../库存管理_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:190px;
    top:120px;
    width:169px;
    height:41px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:47px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../库存管理_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:359px;
    top:120px;
    width:295px;
    height:41px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:47px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:14px;
    top:29px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:716px;
    
}

.u67_normal {
    background-image: url('../库存管理_files/Tab_Option_2_u18_normal.png');
}

.u67_container {
    position:absolute;
    left:1px;
    top:5px;
    width:180px;
    height:40px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../库存管理_files/Tab_Option_3_u20_normal.png');
}

.u69_container {
    position:absolute;
    left:181px;
    top:5px;
    width:180px;
    height:40px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../库存管理_files/Tab_Option_4_u22_normal.png');
}

.u71_container {
    position:absolute;
    left:540px;
    top:5px;
    width:180px;
    height:40px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_line {
    background-image: url('../库存管理_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:0px;
    top:4px;
    width:719px;
    height:3px;
}

.u73 {
    position:absolute;
    left:1px;
    top:40px;
    width:719px;
    height:10px;
    
}

.u74_normal {
    background-image: url('../库存管理_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:45px;
    width:720px;
    height:560px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:566px;
}

.u75 {
    position:absolute;
    left:2px;
    top:272px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../库存管理_files/Selected_Tab_u27_normal.png');
}

.u76_container {
    position:absolute;
    left:360px;
    top:1px;
    width:180px;
    height:44px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u77 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u78 {
    position:absolute;
    left:0px;
    top:50px;
    width:726px;
    height:301px
}

.u79_normal {
    background-image: url('../库存管理_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../库存管理_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:166px;
    top:0px;
    width:211px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../库存管理_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:377px;
    top:0px;
    width:344px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../库存管理_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:30px;
    width:166px;
    height:40px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:46px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../库存管理_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:166px;
    top:30px;
    width:211px;
    height:40px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:46px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../库存管理_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:377px;
    top:30px;
    width:344px;
    height:40px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:46px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../库存管理_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:70px;
    width:166px;
    height:41px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:47px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../库存管理_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:166px;
    top:70px;
    width:211px;
    height:41px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:47px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../库存管理_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:377px;
    top:70px;
    width:344px;
    height:41px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:47px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../库存管理_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:111px;
    width:166px;
    height:41px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:47px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../库存管理_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:166px;
    top:111px;
    width:211px;
    height:41px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:47px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../库存管理_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:377px;
    top:111px;
    width:344px;
    height:41px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:47px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../库存管理_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:152px;
    width:166px;
    height:47px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:53px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../库存管理_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:166px;
    top:152px;
    width:211px;
    height:47px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:53px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../库存管理_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:377px;
    top:152px;
    width:344px;
    height:47px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:53px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../库存管理_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:0px;
    top:199px;
    width:166px;
    height:46px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:52px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../库存管理_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:166px;
    top:199px;
    width:211px;
    height:46px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:52px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../库存管理_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:377px;
    top:199px;
    width:344px;
    height:46px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:52px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../库存管理_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:0px;
    top:245px;
    width:166px;
    height:51px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:57px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../库存管理_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:166px;
    top:245px;
    width:211px;
    height:51px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:57px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../库存管理_files/u119_normal.png');
}

.u119_container {
    position:absolute;
    left:377px;
    top:245px;
    width:344px;
    height:51px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:350px;
    height:57px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:716px;
    
}

.u121_normal {
    background-image: url('../库存管理_files/Tab_Option_2_u18_normal.png');
}

.u121_container {
    position:absolute;
    left:1px;
    top:5px;
    width:180px;
    height:40px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u122 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../库存管理_files/Tab_Option_3_u20_normal.png');
}

.u123_container {
    position:absolute;
    left:360px;
    top:5px;
    width:180px;
    height:40px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u124 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../库存管理_files/Tab_Option_4_u22_normal.png');
}

.u125_container {
    position:absolute;
    left:540px;
    top:5px;
    width:180px;
    height:40px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u126 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_line {
    background-image: url('../库存管理_files/u127_line.png');
}

.u127_line {
    position:absolute;
    left:0px;
    top:4px;
    width:719px;
    height:3px;
}

.u127 {
    position:absolute;
    left:1px;
    top:40px;
    width:719px;
    height:10px;
    
}

.u128_normal {
    background-image: url('../库存管理_files/u128_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:45px;
    width:720px;
    height:630px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:636px;
}

.u129 {
    position:absolute;
    left:2px;
    top:307px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../库存管理_files/Selected_Tab_u27_normal.png');
}

.u130_container {
    position:absolute;
    left:181px;
    top:1px;
    width:180px;
    height:44px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u131 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:9px;
    top:50px;
    width:717px;
    height:311px
}

.u133_normal {
    background-image: url('../库存管理_files/u79_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:0px;
    width:166px;
    height:30px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:36px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../库存管理_files/u81_normal.png');
}

.u135_container {
    position:absolute;
    left:166px;
    top:0px;
    width:211px;
    height:30px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:36px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../库存管理_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:377px;
    top:0px;
    width:335px;
    height:30px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:36px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../库存管理_files/u85_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:30px;
    width:166px;
    height:40px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:46px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../库存管理_files/u87_normal.png');
}

.u141_container {
    position:absolute;
    left:166px;
    top:30px;
    width:211px;
    height:40px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:46px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../库存管理_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:377px;
    top:30px;
    width:335px;
    height:40px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:46px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../库存管理_files/u91_normal.png');
}

.u145_container {
    position:absolute;
    left:0px;
    top:70px;
    width:166px;
    height:41px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:47px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../库存管理_files/u93_normal.png');
}

.u147_container {
    position:absolute;
    left:166px;
    top:70px;
    width:211px;
    height:41px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:47px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../库存管理_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:377px;
    top:70px;
    width:335px;
    height:41px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:47px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../库存管理_files/u97_normal.png');
}

.u151_container {
    position:absolute;
    left:0px;
    top:111px;
    width:166px;
    height:41px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:47px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../库存管理_files/u99_normal.png');
}

.u153_container {
    position:absolute;
    left:166px;
    top:111px;
    width:211px;
    height:41px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:47px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../库存管理_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:377px;
    top:111px;
    width:335px;
    height:41px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:47px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../库存管理_files/u103_normal.png');
}

.u157_container {
    position:absolute;
    left:0px;
    top:152px;
    width:166px;
    height:47px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:53px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../库存管理_files/u105_normal.png');
}

.u159_container {
    position:absolute;
    left:166px;
    top:152px;
    width:211px;
    height:47px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:53px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../库存管理_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:377px;
    top:152px;
    width:335px;
    height:47px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:53px;
}

.u162 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../库存管理_files/u109_normal.png');
}

.u163_container {
    position:absolute;
    left:0px;
    top:199px;
    width:166px;
    height:46px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:52px;
}

.u164 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../库存管理_files/u111_normal.png');
}

.u165_container {
    position:absolute;
    left:166px;
    top:199px;
    width:211px;
    height:46px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:52px;
}

.u166 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../库存管理_files/u167_normal.png');
}

.u167_container {
    position:absolute;
    left:377px;
    top:199px;
    width:335px;
    height:46px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:52px;
}

.u168 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../库存管理_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:0px;
    top:245px;
    width:166px;
    height:61px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:67px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:162px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../库存管理_files/u171_normal.png');
}

.u171_container {
    position:absolute;
    left:166px;
    top:245px;
    width:211px;
    height:61px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:67px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../库存管理_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:377px;
    top:245px;
    width:335px;
    height:61px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:341px;
    height:67px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:331px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:789px;
    height:716px;
    
}

.u175_normal {
    background-image: url('../库存管理_files/Tab_Option_2_u18_normal.png');
}

.u175_container {
    position:absolute;
    left:181px;
    top:5px;
    width:180px;
    height:40px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u176 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../库存管理_files/Tab_Option_3_u20_normal.png');
}

.u177_container {
    position:absolute;
    left:360px;
    top:5px;
    width:180px;
    height:40px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u178 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../库存管理_files/Tab_Option_4_u22_normal.png');
}

.u179_container {
    position:absolute;
    left:540px;
    top:5px;
    width:180px;
    height:40px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u180 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_line {
    background-image: url('../库存管理_files/u181_line.png');
}

.u181_line {
    position:absolute;
    left:0px;
    top:4px;
    width:719px;
    height:3px;
}

.u181 {
    position:absolute;
    left:1px;
    top:40px;
    width:719px;
    height:10px;
    
}

.u182_normal {
    background-image: url('../库存管理_files/u182_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:45px;
    width:720px;
    height:661px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:726px;
    height:667px;
}

.u183 {
    position:absolute;
    left:2px;
    top:322px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../库存管理_files/Selected_Tab_u27_normal.png');
}

.u184_container {
    position:absolute;
    left:1px;
    top:1px;
    width:180px;
    height:44px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:50px;
}

.u185 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u186 {
    position:absolute;
    left:13px;
    top:60px;
    width:712px;
    height:287px
}

.u187_normal {
    background-image: url('../库存管理_files/u187_normal.png');
}

.u187_container {
    position:absolute;
    left:0px;
    top:0px;
    width:165px;
    height:30px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:36px;
}

.u188 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../库存管理_files/u81_normal.png');
}

.u189_container {
    position:absolute;
    left:165px;
    top:0px;
    width:211px;
    height:30px;
}

#u189_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:36px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../库存管理_files/u191_normal.png');
}

.u191_container {
    position:absolute;
    left:376px;
    top:0px;
    width:331px;
    height:30px;
}

#u191_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:36px;
}

.u192 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../库存管理_files/u193_normal.png');
}

.u193_container {
    position:absolute;
    left:0px;
    top:30px;
    width:165px;
    height:40px;
}

#u193_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:46px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../库存管理_files/u87_normal.png');
}

.u195_container {
    position:absolute;
    left:165px;
    top:30px;
    width:211px;
    height:40px;
}

#u195_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:46px;
}

.u196 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../库存管理_files/u197_normal.png');
}

.u197_container {
    position:absolute;
    left:376px;
    top:30px;
    width:331px;
    height:40px;
}

#u197_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:46px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../库存管理_files/u199_normal.png');
}

.u199_container {
    position:absolute;
    left:0px;
    top:70px;
    width:165px;
    height:41px;
}

#u199_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:47px;
}

.u200 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../库存管理_files/u93_normal.png');
}

.u201_container {
    position:absolute;
    left:165px;
    top:70px;
    width:211px;
    height:41px;
}

#u201_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:47px;
}

.u202 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../库存管理_files/u203_normal.png');
}

.u203_container {
    position:absolute;
    left:376px;
    top:70px;
    width:331px;
    height:41px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:47px;
}

.u204 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../库存管理_files/u205_normal.png');
}

.u205_container {
    position:absolute;
    left:0px;
    top:111px;
    width:165px;
    height:41px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:47px;
}

.u206 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207_normal {
    background-image: url('../库存管理_files/u99_normal.png');
}

.u207_container {
    position:absolute;
    left:165px;
    top:111px;
    width:211px;
    height:41px;
}

#u207_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:47px;
}

.u208 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../库存管理_files/u209_normal.png');
}

.u209_container {
    position:absolute;
    left:376px;
    top:111px;
    width:331px;
    height:41px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:47px;
}

.u210 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../库存管理_files/u211_normal.png');
}

.u211_container {
    position:absolute;
    left:0px;
    top:152px;
    width:165px;
    height:47px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:53px;
}

.u212 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213_normal {
    background-image: url('../库存管理_files/u105_normal.png');
}

.u213_container {
    position:absolute;
    left:165px;
    top:152px;
    width:211px;
    height:47px;
}

#u213_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:53px;
}

.u214 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../库存管理_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:376px;
    top:152px;
    width:331px;
    height:47px;
}

#u215_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:53px;
}

.u216 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../库存管理_files/u217_normal.png');
}

.u217_container {
    position:absolute;
    left:0px;
    top:199px;
    width:165px;
    height:46px;
}

#u217_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:52px;
}

.u218 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219_normal {
    background-image: url('../库存管理_files/u111_normal.png');
}

.u219_container {
    position:absolute;
    left:165px;
    top:199px;
    width:211px;
    height:46px;
}

#u219_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:52px;
}

.u220 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_normal {
    background-image: url('../库存管理_files/u221_normal.png');
}

.u221_container {
    position:absolute;
    left:376px;
    top:199px;
    width:331px;
    height:46px;
}

#u221_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:52px;
}

.u222 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223_normal {
    background-image: url('../库存管理_files/u223_normal.png');
}

.u223_container {
    position:absolute;
    left:0px;
    top:245px;
    width:165px;
    height:37px;
}

#u223_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:43px;
}

.u224 {
    position:absolute;
    left:2px;
    top:2px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_normal {
    background-image: url('../库存管理_files/u225_normal.png');
}

.u225_container {
    position:absolute;
    left:165px;
    top:245px;
    width:211px;
    height:37px;
}

#u225_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:217px;
    height:43px;
}

.u226 {
    position:absolute;
    left:2px;
    top:2px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u227_normal {
    background-image: url('../库存管理_files/u227_normal.png');
}

.u227_container {
    position:absolute;
    left:376px;
    top:245px;
    width:331px;
    height:37px;
}

#u227_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:337px;
    height:43px;
}

.u228 {
    position:absolute;
    left:2px;
    top:2px;
    width:327px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

