body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:-9px;
    width:1400px;
    height:808px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1400px;
    height:808px;
}

.u1 {
    position:absolute;
    left:2px;
    top:396px;
    width:1396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:168px;
    top:197px;
    width:108px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:267px;
    top:197px;
    width:244px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:188px;
    top:260px;
    width:108px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:267px;
    top:260px;
    width:244px;
    height:28px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_normal {
    background-image: url('../登录页面_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:267px;
    top:327px;
    width:244px;
    height:39px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:45px;
}

.u7 {
    position:absolute;
    left:2px;
    top:6px;
    width:240px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../登录页面_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:400px;
    top:405px;
    width:110px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:39px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:916px;
    top:7px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

