body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:-7px;
    top:0px;
    width:1432px;
    height:800px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1432px;
    height:800px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:1428px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:686px;
    top:81px;
    width:77px;
    height:31px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u3 {
    position:absolute;
    left:259px;
    top:81px;
    width:424px;
    height:31px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 20px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:1033px;
    top:13px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:1075px;
    top:13px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u8 {
    position:absolute;
    left:272px;
    top:152px;
    width:86px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:406px;
    top:152px;
    width:91px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:552px;
    top:152px;
    width:103px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u11 {
    position:absolute;
    left:54px;
    top:158px;
    width:99px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u12_container {
    position:absolute;
    left:54px;
    top:197px;
    width:193px;
    height:38px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u13 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:66px;
    top:205px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_container {
    position:absolute;
    left:54px;
    top:235px;
    width:193px;
    height:38px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u16 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:66px;
    top:243px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_container {
    position:absolute;
    left:54px;
    top:273px;
    width:193px;
    height:38px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u19 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:66px;
    top:281px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_container {
    position:absolute;
    left:54px;
    top:311px;
    width:193px;
    height:38px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u22 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:66px;
    top:319px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_container {
    position:absolute;
    left:54px;
    top:349px;
    width:193px;
    height:38px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u25 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:66px;
    top:358px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:54px;
    top:387px;
    width:193px;
    height:38px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u28 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:66px;
    top:395px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_container {
    position:absolute;
    left:54px;
    top:425px;
    width:193px;
    height:38px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u31 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:66px;
    top:433px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_container {
    position:absolute;
    left:54px;
    top:463px;
    width:193px;
    height:38px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u34 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:66px;
    top:471px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_container {
    position:absolute;
    left:54px;
    top:501px;
    width:193px;
    height:38px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u37 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:66px;
    top:509px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:54px;
    top:539px;
    width:193px;
    height:38px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u40 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:66px;
    top:547px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_container {
    position:absolute;
    left:54px;
    top:577px;
    width:193px;
    height:38px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:193px;
    height:38px;
}

.u43 {
    position:absolute;
    left:2px;
    top:11px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:66px;
    top:585px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_container {
    position:absolute;
    left:257px;
    top:235px;
    width:167px;
    height:140px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:167px;
    height:140px;
}

.u46 {
    position:absolute;
    left:2px;
    top:62px;
    width:163px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_container {
    position:absolute;
    left:489px;
    top:235px;
    width:110px;
    height:140px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:140px;
}

.u48 {
    position:absolute;
    left:2px;
    top:62px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_container {
    position:absolute;
    left:643px;
    top:235px;
    width:175px;
    height:140px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:140px;
}

.u50 {
    position:absolute;
    left:2px;
    top:62px;
    width:171px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_container {
    position:absolute;
    left:832px;
    top:235px;
    width:137px;
    height:140px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:137px;
    height:140px;
}

.u52 {
    position:absolute;
    left:2px;
    top:62px;
    width:133px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:258px;
    top:459px;
    width:180px;
    height:140px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:180px;
    height:140px;
}

.u54 {
    position:absolute;
    left:2px;
    top:62px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_container {
    position:absolute;
    left:464px;
    top:459px;
    width:121px;
    height:140px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:140px;
}

.u56 {
    position:absolute;
    left:2px;
    top:62px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_container {
    position:absolute;
    left:845px;
    top:459px;
    width:121px;
    height:140px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:140px;
}

.u58 {
    position:absolute;
    left:2px;
    top:62px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_container {
    position:absolute;
    left:655px;
    top:459px;
    width:161px;
    height:140px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:161px;
    height:140px;
}

.u60 {
    position:absolute;
    left:2px;
    top:62px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:266px;
    top:201px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:272px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:489px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:675px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:851px;
    top:391px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:283px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:480px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:851px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:674px;
    top:617px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../主页__未登录__files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:455px;
}

.u70 {
    position:absolute;
    left:1075px;
    top:192px;
    width:10px;
    height:455px;
    
}

.u71 {
    position:absolute;
    left:1182px;
    top:158px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:1095px;
    top:219px;
    width:270px;
    height:266px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

