body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1419px;
    height:799px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1419px;
    height:799px;
}

.u1 {
    position:absolute;
    left:2px;
    top:392px;
    width:1415px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../注册成功_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:235px;
    top:304px;
    width:241px;
    height:39px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:237px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

