body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../账户管理_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:-41px;
    top:28px;
    width:953px;
    height:941px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:953px;
    height:941px;
}

.u1 {
    position:absolute;
    left:2px;
    top:462px;
    width:949px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:249px;
    top:90px;
    width:191px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:691px;
    top:123px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:793px;
    top:123px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_menu {
    background-image: url('../账户管理_files/menu_u5_menu.png');
}

.u5_menu {
    position:absolute;
    left:403px;
    top:157px;
    width:488px;
    height:49px;
}

#u5_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:485px;
    height:46px;
}

#u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:484px;
    height:45px
}

.u7_mouseOver {
    background-image: url('../账户管理_files/u7_mouseOver.png');
}

.u7_selected {
    background-image: url('../账户管理_files/u7_selected.png');
}

.u7_normal {
    background-image: url('../账户管理_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:10px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_mouseOver {
    background-image: url('../账户管理_files/u9_mouseOver.png');
}

.u9_selected {
    background-image: url('../账户管理_files/u9_selected.png');
}

.u9_normal {
    background-image: url('../账户管理_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:104px;
    top:0px;
    width:117px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:113px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_mouseOver {
    background-image: url('../账户管理_files/u11_mouseOver.png');
}

.u11_selected {
    background-image: url('../账户管理_files/u11_selected.png');
}

.u11_normal {
    background-image: url('../账户管理_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:221px;
    top:0px;
    width:114px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:10px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_mouseOver {
    background-image: url('../账户管理_files/u13_mouseOver.png');
}

.u13_selected {
    background-image: url('../账户管理_files/u13_selected.png');
}

.u13_normal {
    background-image: url('../账户管理_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:335px;
    top:0px;
    width:144px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../账户管理_files/Rectangle_Raunded_u15_normal.png');
}

.u15_container {
    position:absolute;
    left:10px;
    top:268px;
    width:831px;
    height:747px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:837px;
    height:753px;
}

.u16 {
    position:absolute;
    left:2px;
    top:366px;
    width:827px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u17 {
    position:absolute;
    left:19px;
    top:278px;
    width:709px;
    height:680px;
    overflow:hidden;
}

#pd1u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:709px;
    height:680px;
    
}

.u18_normal {
    background-image: url('../账户管理_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:6px;
    top:7px;
    width:110px;
    height:34px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:40px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-7px;
    width:106px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../账户管理_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:116px;
    top:7px;
    width:110px;
    height:34px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:40px;
}

.u21 {
    position:absolute;
    left:2px;
    top:9px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:6px;
    top:48px;
    width:465px;
    height:206px
}

.u23_normal {
    background-image: url('../账户管理_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../账户管理_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../账户管理_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:200px;
    top:0px;
    width:146px;
    height:23px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:29px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../账户管理_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:346px;
    top:0px;
    width:114px;
    height:23px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:29px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../账户管理_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:31px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../账户管理_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:100px;
    top:23px;
    width:100px;
    height:31px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../账户管理_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:200px;
    top:23px;
    width:146px;
    height:31px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:37px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../账户管理_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:346px;
    top:23px;
    width:114px;
    height:31px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:37px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:54px;
    width:100px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u41_container {
    position:absolute;
    left:100px;
    top:54px;
    width:100px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../账户管理_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:200px;
    top:54px;
    width:146px;
    height:30px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../账户管理_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:346px;
    top:54px;
    width:114px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../账户管理_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:84px;
    width:100px;
    height:28px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../账户管理_files/u47_normal.png');
}

.u49_container {
    position:absolute;
    left:100px;
    top:84px;
    width:100px;
    height:28px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../账户管理_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:200px;
    top:84px;
    width:146px;
    height:28px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:34px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../账户管理_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:346px;
    top:84px;
    width:114px;
    height:28px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:34px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../账户管理_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:112px;
    width:100px;
    height:29px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../账户管理_files/u55_normal.png');
}

.u57_container {
    position:absolute;
    left:100px;
    top:112px;
    width:100px;
    height:29px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../账户管理_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:200px;
    top:112px;
    width:146px;
    height:29px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:35px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../账户管理_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:346px;
    top:112px;
    width:114px;
    height:29px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:35px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../账户管理_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:141px;
    width:100px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../账户管理_files/u63_normal.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:141px;
    width:100px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../账户管理_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:200px;
    top:141px;
    width:146px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../账户管理_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:346px;
    top:141px;
    width:114px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:171px;
    width:100px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u73_container {
    position:absolute;
    left:100px;
    top:171px;
    width:100px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../账户管理_files/u43_normal.png');
}

.u75_container {
    position:absolute;
    left:200px;
    top:171px;
    width:146px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../账户管理_files/u45_normal.png');
}

.u77_container {
    position:absolute;
    left:346px;
    top:171px;
    width:114px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:36px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u79_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u79_container {
    position:absolute;
    left:384px;
    top:76px;
    width:58px;
    height:19px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u80 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u81_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u81_container {
    position:absolute;
    left:384px;
    top:105px;
    width:58px;
    height:19px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u82 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u83_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u83_container {
    position:absolute;
    left:384px;
    top:134px;
    width:58px;
    height:19px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u84 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u85_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u85_container {
    position:absolute;
    left:384px;
    top:163px;
    width:58px;
    height:19px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u86 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u87_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u87_container {
    position:absolute;
    left:384px;
    top:192px;
    width:58px;
    height:19px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u88 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u89_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u89_container {
    position:absolute;
    left:384px;
    top:221px;
    width:58px;
    height:19px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u90 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:88px;
    top:364px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:86px;
    top:469px;
    width:102px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:164px;
    top:418px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93_text_sketch {
    font-family: '应用字体';
}

.u94 {
    position:absolute;
    left:164px;
    top:361px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94_text_sketch {
    font-family: '应用字体';
}

.u95 {
    position:absolute;
    left:15px;
    top:302px;
    width:200px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:164px;
    top:469px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96_text_sketch {
    font-family: '应用字体';
}

.u97 {
    position:absolute;
    left:79px;
    top:419px;
    width:102px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:354px;
    top:469px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_mouseOver {
    background-image: url('../账户管理_files/u99_mouseOver.png');
}

.u99_normal {
    background-image: url('../账户管理_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:81px;
    top:534px;
    width:120px;
    height:40px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:46px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u101 {
    position:absolute;
    left:66px;
    top:331px;
    width:518px;
    height:177px;
    overflow:hidden;
}

#pd0u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:518px;
    height:177px;
    
}

.u102_normal {
    background-image: url('../账户管理_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:0px;
    top:0px;
    width:460px;
    height:180px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:186px;
}

.u103 {
    position:absolute;
    left:2px;
    top:82px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../账户管理_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:20px;
    top:20px;
    width:420px;
    height:140px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:426px;
    height:146px;
}

.u105 {
    position:absolute;
    left:2px;
    top:62px;
    width:416px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_line {
    background-image: url('../账户管理_files/u106_line.png');
}

.u106_line {
    position:absolute;
    left:0px;
    top:4px;
    width:420px;
    height:3px;
}

.u106 {
    position:absolute;
    left:20px;
    top:50px;
    width:420px;
    height:10px;
    
}

.u107 {
    position:absolute;
    left:30px;
    top:29px;
    width:270px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:30px;
    top:64px;
    width:376px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_mouseOver {
    background-image: url('../账户管理_files/u109_mouseOver.png');
}

.u109_normal {
    background-image: url('../账户管理_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:306px;
    top:121px;
    width:100px;
    height:30px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u110 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../账户管理_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:410px;
    top:29px;
    width:20px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:709px;
    height:680px;
    
}

.u113_normal {
    background-image: url('../账户管理_files/u18_normal.png');
}

.u113_container {
    position:absolute;
    left:116px;
    top:7px;
    width:110px;
    height:34px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:40px;
}

.u114 {
    position:absolute;
    left:2px;
    top:-7px;
    width:106px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../账户管理_files/u20_normal.png');
}

.u115_container {
    position:absolute;
    left:6px;
    top:7px;
    width:110px;
    height:34px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:40px;
}

.u116 {
    position:absolute;
    left:2px;
    top:9px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u117 {
    position:absolute;
    left:6px;
    top:48px;
    width:565px;
    height:206px
}

.u118_normal {
    background-image: url('../账户管理_files/u23_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../账户管理_files/u23_normal.png');
}

.u120_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../账户管理_files/u27_normal.png');
}

.u122_container {
    position:absolute;
    left:200px;
    top:0px;
    width:146px;
    height:23px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:29px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../账户管理_files/u23_normal.png');
}

.u124_container {
    position:absolute;
    left:346px;
    top:0px;
    width:100px;
    height:23px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:29px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../账户管理_files/u29_normal.png');
}

.u126_container {
    position:absolute;
    left:446px;
    top:0px;
    width:114px;
    height:23px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:29px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../账户管理_files/u31_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:31px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../账户管理_files/u31_normal.png');
}

.u130_container {
    position:absolute;
    left:100px;
    top:23px;
    width:100px;
    height:31px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../账户管理_files/u35_normal.png');
}

.u132_container {
    position:absolute;
    left:200px;
    top:23px;
    width:146px;
    height:31px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:37px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../账户管理_files/u31_normal.png');
}

.u134_container {
    position:absolute;
    left:346px;
    top:23px;
    width:100px;
    height:31px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:37px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../账户管理_files/u37_normal.png');
}

.u136_container {
    position:absolute;
    left:446px;
    top:23px;
    width:114px;
    height:31px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:37px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u138_container {
    position:absolute;
    left:0px;
    top:54px;
    width:100px;
    height:30px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u140_container {
    position:absolute;
    left:100px;
    top:54px;
    width:100px;
    height:30px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../账户管理_files/u43_normal.png');
}

.u142_container {
    position:absolute;
    left:200px;
    top:54px;
    width:146px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:36px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u144_container {
    position:absolute;
    left:346px;
    top:54px;
    width:100px;
    height:30px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../账户管理_files/u45_normal.png');
}

.u146_container {
    position:absolute;
    left:446px;
    top:54px;
    width:114px;
    height:30px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:36px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../账户管理_files/u47_normal.png');
}

.u148_container {
    position:absolute;
    left:0px;
    top:84px;
    width:100px;
    height:28px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../账户管理_files/u47_normal.png');
}

.u150_container {
    position:absolute;
    left:100px;
    top:84px;
    width:100px;
    height:28px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../账户管理_files/u51_normal.png');
}

.u152_container {
    position:absolute;
    left:200px;
    top:84px;
    width:146px;
    height:28px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:34px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../账户管理_files/u47_normal.png');
}

.u154_container {
    position:absolute;
    left:346px;
    top:84px;
    width:100px;
    height:28px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../账户管理_files/u53_normal.png');
}

.u156_container {
    position:absolute;
    left:446px;
    top:84px;
    width:114px;
    height:28px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:34px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../账户管理_files/u55_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:112px;
    width:100px;
    height:29px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../账户管理_files/u55_normal.png');
}

.u160_container {
    position:absolute;
    left:100px;
    top:112px;
    width:100px;
    height:29px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../账户管理_files/u59_normal.png');
}

.u162_container {
    position:absolute;
    left:200px;
    top:112px;
    width:146px;
    height:29px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:35px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../账户管理_files/u55_normal.png');
}

.u164_container {
    position:absolute;
    left:346px;
    top:112px;
    width:100px;
    height:29px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:35px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../账户管理_files/u61_normal.png');
}

.u166_container {
    position:absolute;
    left:446px;
    top:112px;
    width:114px;
    height:29px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:35px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../账户管理_files/u63_normal.png');
}

.u168_container {
    position:absolute;
    left:0px;
    top:141px;
    width:100px;
    height:30px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u169 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../账户管理_files/u63_normal.png');
}

.u170_container {
    position:absolute;
    left:100px;
    top:141px;
    width:100px;
    height:30px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u171 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../账户管理_files/u67_normal.png');
}

.u172_container {
    position:absolute;
    left:200px;
    top:141px;
    width:146px;
    height:30px;
}

#u172_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:36px;
}

.u173 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../账户管理_files/u63_normal.png');
}

.u174_container {
    position:absolute;
    left:346px;
    top:141px;
    width:100px;
    height:30px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u175 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../账户管理_files/u69_normal.png');
}

.u176_container {
    position:absolute;
    left:446px;
    top:141px;
    width:114px;
    height:30px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:36px;
}

.u177 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u178_container {
    position:absolute;
    left:0px;
    top:171px;
    width:100px;
    height:30px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u179 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u180_container {
    position:absolute;
    left:100px;
    top:171px;
    width:100px;
    height:30px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u181 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182_normal {
    background-image: url('../账户管理_files/u43_normal.png');
}

.u182_container {
    position:absolute;
    left:200px;
    top:171px;
    width:146px;
    height:30px;
}

#u182_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:36px;
}

.u183 {
    position:absolute;
    left:2px;
    top:2px;
    width:142px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../账户管理_files/u39_normal.png');
}

.u184_container {
    position:absolute;
    left:346px;
    top:171px;
    width:100px;
    height:30px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:36px;
}

.u185 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186_normal {
    background-image: url('../账户管理_files/u45_normal.png');
}

.u186_container {
    position:absolute;
    left:446px;
    top:171px;
    width:114px;
    height:30px;
}

#u186_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:36px;
}

.u187 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u188_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u188_container {
    position:absolute;
    left:495px;
    top:78px;
    width:58px;
    height:19px;
}

#u188_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u189 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u190_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u190_container {
    position:absolute;
    left:495px;
    top:107px;
    width:58px;
    height:19px;
}

#u190_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u191 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u192_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u192_container {
    position:absolute;
    left:495px;
    top:136px;
    width:58px;
    height:19px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u193 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u194_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u194_container {
    position:absolute;
    left:495px;
    top:165px;
    width:58px;
    height:19px;
}

#u194_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u195 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u196_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u196_container {
    position:absolute;
    left:495px;
    top:194px;
    width:58px;
    height:19px;
}

#u196_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u197 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u198_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u198_container {
    position:absolute;
    left:495px;
    top:223px;
    width:58px;
    height:19px;
}

#u198_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:25px;
}

.u199 {
    position:absolute;
    left:2px;
    top:0px;
    width:54px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

